$astrologer-item : 10rem;

.astrologer-container {
    display: flex;
    overflow-x: auto;
    padding: $m-size 0;
    .astrologer-content{
        margin-right : $s-size;
        min-width: $astrologer-item;
        box-shadow: 0px 0px 7px $light-grey;
        padding: $s-size;
        border-radius: $s-size;
        .astrologer-img {
            margin: auto;
            height: $astrologer-item * 0.75;
            width: $astrologer-item * 0.75;
            img {
                height: inherit;
                width: inherit;
            }
        }
        .info-1 {
            display: flex;
            justify-content: space-between;
            margin: 0.8rem auto;
            color: $primary-black;
            font-size: $font-size-small;
            font-weight: bold;
            .rating {
                color: $theme-color;
            }
        }
        .info-2 {
            font-size: $font-size-small;
            color: $light-grey;
            margin: $xs-size auto;
        }
        .info-3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: $xs-size auto;
            color: $primary-black;
            font-size: $font-size-small*0.8;
        }
    }
    
}