body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.home{
    margin-top: $m-size;
    margin-bottom: $xl-size;
}
.btn {
    background-color: $theme-color;
    color : $white-theme;
    border : 0;
    border-radius: 0.2rem;
    padding: $s-size/2 $s-size;
    display: flex;
    align-items: center;
}